<div class="ask_box">
  <p><%= params[:question] %></p>
  <i>-You</i>
</div>
<div class="answer_box">
  <p>
    <% if params[:question].downcase == "i am going to work" %>
    <%= "Great!" %>
    <% elsif params[:question].end_with?("?") %>
    <%= "Silly question, get dressed and go to work!" %>
    <% else %>
    <%= "I don't care, get dressed and go to work!" %>
    <% end %>
  </p>
  <i>-Your coach</i>
</div>
<%= link_to 'Ask a new question', ask_path %>
